* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button {
  font: inherit;
  border: 1px solid #ff0062;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #ff0062;
  cursor: pointer;
}

#buttons_section,
#students_list,
#filter {
  width: 100rem;
  max-width: 90%;
  margin: 2rem auto;
}